<h3>Box Logs</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Observation</th>
      <th>Action</th>
      <th>Assigned To</th>
	  <th>Date Submitted</th>    
      <th>Status</th>    
      <td>&nbsp;</td>
    </tr>
  </thead>
  <% if @box.logs.count > 0 %>
    
    <% @box.logs.order([created_at: :desc]).each do |log| %> 
        
    <% if log.status == "open"  %>
        <tr class="warning row-fluid">
            <td><%= log.observation %></td>
            <td><%= log.action %></td>
            <td><%= log.created_at.strftime("%F") %></td>
		    <td><%= log.assignedtouser %></td>
            <td><%= log.status.humanize %></td>  
            <td><%= link_to '<i class="glyphicon glyphicon-eye-open"></i> View'.html_safe, board_log_path(@board, log), class: "btn" %><%= link_to '<i class="glyphicon glyphicon-pencil"></i> Edit'.html_safe, edit_board_log_path(@board, log), class: "btn" %></td> 
        </tr>
      <% else %>
        <tr class="default row-fluid">
            <td><%= log.observation %></td>
            <td><%= log.action %></td>
            <td><%= log.created_at.strftime("%F") %></td>
		    <td><%= log.assignedtouser %></td>
            <td><%= log.status.humanize %></td>  
            <td><%= link_to '<i class="glyphicon glyphicon-eye-open"></i> View'.html_safe, board_log_path(@board, log), class: "btn" %><%= link_to '<i class="glyphicon glyphicon-pencil"></i> Edit'.html_safe, edit_board_log_path(@board, log), class: "btn" %></td>
        </tr>
     <% end %>
       
    <% end %>    
<% else %>
    <tr>
      <td colspan="7">No logs found for this box.</td>
    </tr>
  <% end %>
</table>