<h1>Boxes</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Box SN</th>
      <th>Board SN</th>
      <th>Firmware Version</th>
      <th>Service Status</th>    
      <th>Number of Logs</th>
	  <th>Created On</th>
      <th>Last Update</th>     
    </tr>
  </thead>
  <tbody>
    <% if @boxes.count == 0 %>
      <tr>
        <td colspan="6">
          No boxes found.  Click the button below to add a new one.
        </td>
      </tr>
    <% else %>
      <% @boxes.each do |box| %>

        <tr class = "default">
          <td><%= link_to box.box_sn, box %></td>
          <td><%= box.board.board_sn %> </td> 
          <td><%= box.board.firmware %> </td>  
		  <td><%= box.servicestatus %> </td>
          <td><%= box.logs.count %></td>
		  <td><%= box.updated_at.strftime("%F") %></td>
          <td><%= box.created_at.strftime("%F") %></td>
        </tr>
      
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="well">
<%= link_to "New Box", new_box_path, class: "btn btn-default" %>
</div>