<h1>Boards</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Board SN</th>
      <th>Firmware Version</th>
      <th>Service Status</th>    
      <th>Number of Logs</th>
      <th>Created On</th>     	  
      <th>Last Update</th>     
    </tr>
  </thead>
  <tbody>
    <% if @boards.count == 0 %>
      <tr>
        <td colspan="6">
          No boards found.  Click the button above to add a new one.
        </td>
      </tr>
    <% else %>
      <% @boards.each do |board| %>
	  
            <tr class = "default">
              <td><%= link_to "#{board.board_sn}", board %></td>			  
              <td><%= board.firmware %> </td>
              <td><%= board.servicestatus %></td>     
              <td><%= board.logs.count %></td>
			  <td><%= board.created_at.strftime("%F") %></td>
              <td><%= board.updated_at.strftime("%F") %></td> 
              </td>
            </tr>
        
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="well">
<%= link_to "New Board", new_board_path, class: "btn btn-default " %>
</div>

