<h1>Machines</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Machine SN</th>
      <th>Box SN</th>
      <th>Site</th>    
      <th>Service Status</th>    
      <th>Number of Logs</th>
      <th>Last Update</th>
    </tr>
  </thead>
  <tbody>
    <% if @machines.count == 0 %>
      <tr>
        <td colspan="7">
          No machines found.  Click the button above to add a new one.
        </td>
      </tr>
    <% else %>
      <% @machines.each do |machine| %>
           
        <% if machine.servicestatus == "service" %>
          <tr class = "warning">
              <td><%= link_to "#{machine.sn}", machine %></td>
              <td><%= machine.box.sn %></td>
              <td><%= machine.site %></td>
              <td><%= machine.servicestatus %></td>
              <td><%= machine.logs.count %></td>
              <td><%= machine.updated_at %></td>
          </tr>
        <% else %>
          <tr class = "default">
              <td><%= link_to "#{machine.sn}", machine %></td>
              <td><%= machine.box.sn %> </td>
              <td><%= machine.site %> </td>
              <td><%= machine.servicestatus %> </td>
              <td><%= machine.logs.count %></td>
              <td><%= machine.updated_at %></td>
          </tr>
        <% end %> 

      <% end %>
    <% end %>
  </tbody>
</table>

<div class="well">
<%= link_to "New Machine", new_machine_path, class: "btn btn-default" %>
</div>

