<h1>Machines</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Machine SN</th>
      <th>Box SN</th>
      <th>Site</th> 
	  <th>Location</th>   
      <th>Service Status</th>    
      <th>Number of Logs</th>
	  <th>Created On</th>
      <th>Last Update</th>
    </tr>
  </thead>
  <tbody>
    <% if @machines.count == 0 %>
      <tr>
        <td colspan="7">
          No machines found. Click the button below to add a new one.
        </td>
      </tr>
    <% else %>
      <% @machines.each do |machine| %>

          <tr class = "default">
              <td><%= link_to "#{machine.machine_sn}", machine %></td>
              <td><%= machine.box.box_sn %></td>
              <td><%= machine.site.sitename %></td>
			  <td><%= machine.site.latitude %>, <%= machine.site.longitude %></td>
              <td><%= machine.servicestatus %></td>
              <td><%= machine.logs.count %></td>
			  <td><%= machine.created_at.strftime("%F") %></td>
              <td><%= machine.updated_at.strftime("%F") %></td>
          </tr>

      <% end %>
    <% end %>
  </tbody>
</table>

<div class="well">
<%= link_to "New Machine", new_machine_path, class: "btn btn-default" %>
</div>

