<h1>Site</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Site Name</th>
      <th>Machine</th>
      <th>Latitude</th>    
      <th>Longitude</th>
      <th>Last Update</th>     
    </tr>
  </thead>
  <tbody>
    <% if @sites.count == 0 %>
      <tr>
        <td colspan="6">
          No sites found.  Click the button above to add a new one.
        </td>
      </tr>
    <% else %>
      <% @sites.each do |site| %>
      
        <% if site.sitestatus == "Service" %>      
            <tr class = "danger">
              <td><%= link_to "#{site.sitename}", site %></td>
              <td><%= site.machine.sn %> </td>
              <td><%= site.latitude %></td>    
              <td><%= site.longitude %></td>
              <td><%= site.updated_at %></td>    
            </tr>
        <% else %>
            <tr class = "default">
              <td><%= link_to "#{site.sitename}", site %></td>
              <td><%= site.machine.sn %> </td>
              <td><%= site.latitude %></td>    
              <td><%= site.longitude %></td>
              <td><%= site.updated_at %></td> 
              </td>
            </tr>
        <% end %>
        
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="well">
<%= link_to "New Site", new_site_path, class: "btn btn-default " %>
</div>

