<h1>Site</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Site Name</th>
      <th>Machine</th>
      <th>Latitude</th>    
      <th>Longitude</th>
	  <th>Date Comissioned</th>
	  <th>Created On</th>
      <th>Last Update</th>     
    </tr>
  </thead>
  <tbody>
    <% if @sites.count == 0 %>
      <tr>
        <td colspan="6">
          No sites found.  Click the button below to add a new one.
        </td>
      </tr>
    <% else %>
      <% @sites.each do |site| %>

            <tr class = "default">
              <td><%= link_to "#{site.sitename}", site %></td>
              <td><%= site.machine.machine_sn %></td>   
              <td><%= site.latitude %></td>    
              <td><%= site.longitude %></td>
			  <td><%= site.commisiondate %></td>
              <td><%= site.created_at.strftime("%F") %></td>    			  
              <td><%= site.updated_at.strftime("%F") %></td>    
            </tr>
        
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="well">
<%= link_to "New Site", new_site_path, class: "btn btn-default " %>
</div>

